<div style=" height: 100%; width: 100%;">
<!--  <mat-progress-bar id="load" mode="indeterminate" ></mat-progress-bar>-->
  <div style="overflow-y: hidden">
    <mat-toolbar color="primary">
      <a class="title" href="#" (click)="navigateHome()"> PDF Extraction Tool</a>
      <span class="example-spacer"></span>
      <button mat-icon-button matTooltip="Login" matTooltipPosition="below" id="login" (click)="navigateLogin()">
        <mat-icon>login</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Logout" matTooltipPosition="below" id="logout" (click)="navigateHome()">
          <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
  </div>

  <div style="height: calc(100% - 64px); overflow-y: auto">
    <router-outlet></router-outlet>
  </div>
</div>

